[nix]
channel = "stable-25_05"
packages = ["nodejs_22", "pnpm", "tree", "unzipNLS", "gemini-cli", "zip"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 44858440
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node watch.js"
